h1  {
  color: green;
  font-style: italic;
  text-transform: uppercase;
}

label  {
  text-transform: uppercase;
}

.initially-hidden {
  display: none;
}

#side1, #side2, #side3  {
  max-width: 100px;
  margin-right: 20px;
}

#have-triangle  {
  margin-top: 20px;
  color: green;
  font-size: 1.75rem;
}
